<div class="container">
  <div class="contact-info">
    <h2>Informações de contato</h2>
    <ul class="info">
      <li>
        <span><img src="" alt=""></span>
        <span>1167 Ribeirão Preto<br>
              São Paulo,SP
              19776
        </span>
      </li>

      <li>
        <span><img src="" alt=""></span>
        <span>1167 Ribeirão Preto<br>
              São Paulo,SP
              19776
        </span>
      </li>

      <li>
        <span><img src="" alt=""></span>
        <span>1167 Ribeirão Preto<br>
              São Paulo,SP
              19776
        </span>
      </li>
      
    </ul>
  </div>
</div>
